.advantages {
  gap: 30px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include tablet {
      flex-basis: calc((100% - 30px) / 2);
    }
    @include desktop {
      flex-basis: calc((100% - 3 * 30px) / 4);
    }
  }
  &__icon-wrap {
    display: flex;
    // width: 100%;
    height: 120px;
    background-color: var(--secondary-background-color);
    justify-content: center;
    align-items: center;
  }
  &__title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);

    @include tablet {
      text-align: left;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
