.form {
  padding: 40px;
  margin-right: auto;
}
.feedback {
  display: block;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;

  @include desktop {
    line-height: 1.17;
  }
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  /* outline: 1px solid red; */
}

.field-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  /* outline: 1px solid blue; */
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.input-wrap .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input {
  width: 100%;
  height: 40px;

  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid var(--accent-color);
    cursor: pointer;
  }
  &:focus + .icon {
    fill: var(--accent-color);
  }
}
textarea {
  font-size: 12px;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  letter-spacing: 0.01em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
  }
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
}
.agreement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  /* outline: 1px solid black; */
  margin-bottom: 30px;

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.agreement .link {
  color: var(--accent-color);
}
.button-submit {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);
  }
}
