.footer {
  background-color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  text-align: center;

  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: left;
  }
}
