.footer-icons {
  margin-top: 20px;

  display: flex;
  justify-content: center;

  // margin-right: 93px;

  &__icon {
    fill: var(--primary-white-color);
  }
}
.footer-icons__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
