.logo {
  margin-top: 16px;
  margin-bottom: 16px;

  font-family: var(--secondary-font);
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  @include tablet {
    margin: 0;
  }

  &__decor--accent {
    color: var(--accent-color);
  }
}
