.invite-block {
  margin-top: 60px;
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 165px;
  }
  // margin-left: 70px;

  &__join {
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 10px;
    font-size: 14px;
  }
}
