.invite-block {
  margin-top: 60px;
  margin-bottom: 60px;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    margin-left: 70px;
  }

  &__join {
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 10px;
    font-size: 14px;
  }
}
