.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;

  @media (min-width: $mobile) and (max-width: 1199px) {
    max-width: 450px;
    max-height: 609px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 528px;
    max-height: 581px;
  }

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) rotate(720deg);
}
