.section {
  padding: 60px 0;

  @include desktop {
    padding: 94px 0;
  }

  &--padding-bottom0 {
    @include desktop {
      padding-bottom: 0;
    }
  }
  &__title {
    margin-bottom: 30px;

    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--secondary-text-color);

    @include desktop {
      margin-bottom: 50px;
      font-size: 36px;
    }
  }
  &--bcg-color {
    background-color: var(--secondary-background-color);
  }
}
